<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gestorproveedoresauro.runasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <MSDeployServiceURL>site86293.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site86293</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
    <UserName>site86293</UserName>
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>
</Project>
